//imports
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
//resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

//colors
$email-bg: hsl(217, 28%, 15%);
$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials: hsl(219, 30%, 18%);
$callToAction: hsl(198, 60%, 50%);
$callToAction--b: hsl(176, 68%, 64%);
$error: hsl(0, 100%, 63%);
$neutral: hsl(0, 0%, 100%);

//images
$bg-mobile: "../images/bg-curvy-mobile.svg";

//mixins
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin flex-box($direction, $justify-content, $align-items, $gap) {
  align-items: $align-items;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  gap: $gap;
}
@mixin family($family, $color, $weight) {
  font-family: $family;
  color: $color;
  font-weight: $weight;
}

//Typography
$heading: "Raleway", sans-serif;
$body-copy: "Open Sans", sans-serif;
h1,
h2,
h3,
a {
  @include family($heading, $neutral, 700);
}
p {
  @include family($body-copy, $neutral, 400);
  font-size: 14px;
}

//Utility
.p-1 {
  padding: 2% 5%;
  @include push--auto;
}
