.logo {
  max-width: 5rem;
}
.navbar {
  @include flex-box(row, space-between, center, 1rem);
  &__link {
    font-size: 0.8rem;
    color: $neutral;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      text-decoration: underline; //not working
    }
  }
}
.section-title {
  font-size: 1.4rem;
  &--small {
    font-size: 1.2rem;
  }
  &--smaller {
    font-size: 1.1rem;
  }
}
.button {
  padding: 1rem 5.7rem;
  background: $callToAction;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
    background: $callToAction--b;
    transition: all 0.2s ease-in;
  }
}
.link {
  color: $callToAction--b;
  border-bottom: 1px solid $callToAction--b;
  font-size: 14px;
  &:hover {
    filter: invert(61%) sepia(92%) saturate(1464%) hue-rotate(166deg)
      brightness(85%) contrast(85%);
    transition: all 0.2s ease-in;
  }
}
.card {
  @include flex-box(column, space-between, center, 0.8rem);
  text-align: center;
  &__icon {
    max-width: 4rem;
    margin-bottom: 1rem;
  }
  &__box {
    @include flex-box(row, left, center, 0.5rem);
    width: 100%;
  }
  &__profile-image {
    max-width: 2.5rem;
    border-radius: 50%;
  }
  &__name {
    @include family($body-copy, $neutral, 700);
    font-size: 14px;
  }
  &__office {
    @include family($body-copy, $neutral, 400);
    font-size: 12px;
  }
  &--text-left {
    text-align: left;
  }
  &--bg {
    background-color: $email-bg;
    box-shadow: $footer-bg 6px 2px 16px 0px, $footer-bg -6px -2px 16px 0px;
    border-radius: 12px;
    padding: 2rem;
  }
  &--quote {
    &::before {
      content: "";
      position: absolute;
      top: 4rem;
      left: -0.5rem;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: url("../images/bg-quotes.png");
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: 800px) {
  .logo {
    max-width: 8rem;
  }
  .section-title {
    font-size: 2.3rem;
    &--smaller {
      font-size: 2.3rem;
    }
  }
  .button {
    font-size: 18px;
  }

  .body-text {
    font-size: 18px;
    max-width: 55ch;
  }
  .card {
    max-width: 24rem;
    &__icon {
      max-width: 100%;
    }
  }
}
