body {
  background-color: $main-bg;
}
.max-size {
  max-width: 90%; //refactor with min-max
  padding: 5% 0;
  @include push--auto;
}
.header {
  @include flex-box(row, space-between, center, 0);
  background-color: $main-bg;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 1.5rem 5%;
}
.generic-section {
  @include flex-box(column, space-between, center, 2rem);
  text-align: center;
  &__content {
    @include flex-box(column, space-between, center, 2rem);
    &--justify {
      @extend .generic-section__content;
      text-align: left;
      align-items: flex-start;
      gap: 1rem;
    }
  }
  &__image {
    max-width: 100%;
  }

  // to change flex-box on media and add pseudo elements
  &--row {
    @extend .generic-section;
  }
}
.features-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto, 4);
  gap: 4rem;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .generic-section {
    &__content {
      max-width: 60%;
    }
    &--row {
      flex-direction: row;
    }
  }
  .features-section {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 2rem;
  }
}
